CloneRelatedRecordsFlow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Clone_With_Related</name>
        <label>Clone With Related</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>CloneRecordWithRelatedPlugin</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>currentRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentSObjectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedSObjects</name>
            <value>
                <elementReference>Select_From_The_Options_Below</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CloneRecordWithRelatedPlugin</nameSegment>
        <outputParameters>
            <assignToReference>clonedRecordId</assignToReference>
            <name>clonedRecordId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <choices>
        <name>Classes</name>
        <choiceText>Classes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Class__c</stringValue>
        </value>
    </choices>
    <choices>
        <name>ContactRoles</name>
        <choiceText>Contact Roles</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OpportunityContactRole</stringValue>
        </value>
    </choices>
    <choices>
        <name>OpportunityLocations</name>
        <choiceText>Opportunity Locations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Opportunity_Location__c</stringValue>
        </value>
    </choices>
    <choices>
        <name>PractionersEquipment</name>
        <choiceText>Practitioners/Equipment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PractitionerEquipment__c</stringValue>
        </value>
    </choices>
    <choices>
        <name>Products</name>
        <choiceText>Products</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OpportunityLineItem</stringValue>
        </value>
    </choices>
    <choices>
        <name>Services</name>
        <choiceText>Services</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Service__c</stringValue>
        </value>
    </choices>
    <constants>
        <description>Set this variable to the API Name of the parent object. This might change if you decide to clone this Flow as a template for a different object.</description>
        <name>parentObjectName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Opportunity</stringValue>
        </value>
    </constants>
    <description>This is a custom flow that will allow people to choose which related records they&apos;d like to clone along with the Opportunity. It is originally being designed for Opportunities that use the &apos;Partnerships&apos; record type, but it will be designed in a way that additional objects can be added in if the business needs change in the future.</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Clone Related Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Clone Related Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <description>This screen will allow the user to select which records they would like to clone along with the parent record.</description>
        <name>Select_Child_Object_Records_To_Clone_With_Parent_Record</name>
        <label>Select Child Object Records To Clone With Parent Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Clone_With_Related</targetReference>
        </connector>
        <fields>
            <name>whichRecordsToClone</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Which records would you like to clone along with the Opportunity?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_From_The_Options_Below</name>
            <choiceReferences>OpportunityLocations</choiceReferences>
            <choiceReferences>Classes</choiceReferences>
            <choiceReferences>Services</choiceReferences>
            <choiceReferences>PractionersEquipment</choiceReferences>
            <choiceReferences>ContactRoles</choiceReferences>
            <choiceReferences>Products</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select From The Options Below</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <helpText>&lt;p&gt;If you select an option, all related records of that object type will be cloned to the new Opportunity.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Clone Opportunity</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>successText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;You&apos;ve successfully cloned this &lt;/strong&gt;&lt;strong style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!parentObjectName}&lt;/strong&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt; and the related records you selected! Find the new &lt;/strong&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!parentObjectName} &lt;/strong&gt;&lt;a href=&quot;{!clonedRecordURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 20px; color: rgb(1, 228, 27);&quot;&gt;&lt;strong&gt;HERE&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Dismiss</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_Child_Object_Records_To_Clone_With_Parent_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>clonedRecordURL</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>https://classpass--edwarddev.sandbox.lightning.force.com/lightning/r/{!parentObjectName}/{!clonedRecordId}/view</text>
    </textTemplates>
    <variables>
        <description>Use this variable to reference the newly cloned parent record.</description>
        <name>clonedRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
